/*///tells the browser to read the css file as UTF-8. 
This is handy if you CSS contains unicode characters and not only ASCII.*/
@charset "UTF-8";


@import "../css/spriteSheet";
/*//// method for importing .css file into .scss files  ////*/


/*VARS*/
$black: #000;
$white: #fff;
$green: #008000;

body {
	font-family: Tahoma, Geneva, sans-serif;
	height: 100%;
	width: 100%;
};

body, html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.size {
	
	&-300x250{
		height: 250px;
		width: 300px;
	}

	&-160x600 {
		height: 600px;
		width: 160px;
	}

	&-728x90 {
		height: 90px;
		width: 728px;
	}

	&-300x600 {
		height: 600px;
		width: 300px;
	}
	
};


.container {
	background-color: $white;
	@extend .icon-panther;
	border: 1px solid $black;
	cursor: pointer;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;/*relative*/
	top: 0;/*50%*/
	//transform: translateY(-50%);
}

.img1 {
	@extend .icon-spongebob;
	//background-repeat: no-repeat;
	//background-size: cover;
	height: 200px;
	left: 50px;
	outline: 1px solid #f00;
	position: absolute;
	top: 80px;
	width: 200px;
	z-index: 1;
}