/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-lion {
  background-image: url(../images/spriteSheet.png);
  background-position: -309px -768px;
  width: 305px;
  height: 409px;
}
.icon-panther {
  background-image: url(../images/spriteSheet.png);
  background-position: 0px 0px;
  width: 1024px;
  height: 768px;
}
.icon-spongebob {
  background-image: url(../images/spriteSheet.png);
  background-position: -1024px 0px;
  width: 642px;
  height: 612px;
}
.icon-sprite-one {
  background-image: url(../images/spriteSheet.png);
  background-position: 0px -768px;
  width: 309px;
  height: 416px;
}
.icon-sprite-two {
  background-image: url(../images/spriteSheet.png);
  background-position: -614px -768px;
  width: 256px;
  height: 256px;
}
